## __Accessing Databases Using Python__

## Step 1: Import the Dataset

Let's first import our dataset, dump it into a database and then perform queries on it. We’ll be using sqlite3.

In [ ]:
import sqlite3
import pandas as pd

In [ ]:
df = pd.read_csv("HousePrices.csv")

In [ ]:
df.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA

__Observation__

This is the head of the dataset.

## Step 2: Create an SQLite3 Connection

Before dumping it into the database, let's create a connection.

In [ ]:
connection = sqlite3.connect('test.db')

In [ ]:
df.to_sql('test',connection,if_exists='replace',index = False)

__Observation__

The connection has been created inside a database.

## Step 3: Read the Data Using a Cursor

Let's execute a query to fetch data from the **test** table using a cursor.

In [ ]:
cursor = connection.cursor()
query = "select * from test"
cursor.execute(query)

In [ ]:
results = cursor.fetchall()

In [ ]:
results[:2]

[('2014-05-02 00:00:00',
  313000.0,
  3.0,
  1.5,
  1340,
  7912,
  1.5,
  0,
  0,
  3,
  1340,
  0,
  1955,
  2005,
  '18810 Densmore Ave N',
  'Shoreline',
  'WA 98133',
  'USA'),
 ('2014-05-02 00:00:00',
  2384000.0,
  5.0,
  2.5,
  3650,
  9050,
  2.0,
  0,
  4,
  5,
  3370,
  280,
  1921,
  0,
  '709 W Blaine St',
  'Seattle',
  'WA 98119',
  'USA')]

__Observation__

Thus, the first two rows were printed.

## Step 4 Read the Data Using Pandas

Let's read the data using pandas and the .read SQL method.

In [ ]:
data = pd.read_sql(query,connection)

In [ ]:
data

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,3.130000e+05,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2.384000e+06,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,3.420000e+05,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,4.200000e+05,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,5.500000e+05,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,2014-07-09 00:00:00,3.081667e+05,3.0,1.75,1510,6360,1.0,0,0,4,1510,0,1954,1979,501 N 143rd St,Seattle,WA 98133,USA
4596,2014-07-09 00:00:00,5.343333e+05,3.0,2.50,1460,7573,2.0,0,0,3,1460,0,1983,2009,14855 SE 10th Pl,Bellevue,WA 98007,USA
4597,2014-07-09 00:00:00,4.169042e+05,3.0,2.50,3010,7014,2.0,0,0,3,3010,0,2009,0,759 Ilwaco Pl NE,Renton,WA 98059,USA
4598,2014-07-10 00:00:00,2.034000e+05,4.0,2.00,2090,6630,1.0,0,0,3,1070,1020,1974,0,5148 S Creston St,Seattle,WA 98178,USA
4599,2014-07-10 00:00:00,2.206000e+05,3.0,2.50,1490,8102,2.0,0,0,4,1490,0,1990,0,18717 SE 258th St,Covington,WA 98042,USA

__Observation__

The data here is the entire dataset.

## Step 7: Filter the Data Based on a Particular Keyword

Let's start with a query using the **where** keyword.

In [ ]:
query = 'select * from test where city = "Seattle"'
data = pd.read_sql(query,connection)

In [ ]:
data

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,2.384000e+06,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
1,2014-05-02 00:00:00,4.900000e+05,2.0,1.00,880,6380,1.0,0,0,3,880,0,1938,1994,522 NE 88th St,Seattle,WA 98115,USA
2,2014-05-02 00:00:00,6.400000e+05,4.0,2.00,1520,6200,1.5,0,0,3,1520,0,1945,2010,6811 55th Ave NE,Seattle,WA 98115,USA
3,2014-05-02 00:00:00,1.400000e+06,4.0,2.50,2920,4000,1.5,0,0,5,1910,1010,1909,1988,3838-4098 44th Ave NE,Seattle,WA 98105,USA
4,2014-05-02 00:00:00,3.650000e+05,3.0,1.00,1090,6435,1.0,0,0,4,1090,0,1955,2009,2504 SW Portland Ct,Seattle,WA 98106,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1568,2014-07-07 00:00:00,4.060625e+05,2.0,1.00,1290,4650,1.0,0,0,4,1290,0,1906,1990,312 NE 81st St,Seattle,WA 98115,USA
1569,2014-07-07 00:00:00,4.868950e+05,3.0,1.00,1890,3330,1.5,0,0,4,1390,500,1901,0,4324 Dayton Ave N,Seattle,WA 98103,USA
1570,2014-07-08 00:00:00,3.961667e+05,3.0,1.75,1880,5752,1.0,0,0,4,940,940,1945,0,3529 SW Webster St,Seattle,WA 98126,USA
1571,2014-07-09 00:00:00,3.081667e+05,3.0,1.75,1510,6360,1.0,0,0,4,1510,0,1954,1979,501 N 143rd St,Seattle,WA 98133,USA
1572,2014-07-10 00:00:00,2.034000e+05,4.0,2.00,2090,6630,1.0,0,0,3,1070,1020,1974,0,5148 S Creston St,Seattle,WA 98178,USA

__Observation__

This is the data that contains data from **Seattle** only.

### __Note:__

If you are trying to access other databases, Python offers various libraries. For example, PI Mongo can be used to access MongoDB.